body {
  background-color: #582d41;
  border-top: 4px solid #01ffff;
  color: #fff;
}
.header {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 32px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: 'Bahiana', cursive;
}
.header__logo {
  box-sizing: border-box;
  position: relative;
  width: 100%;
}
.header__location {
  position: absolute;
  left: 170px;
  top: 208px;
  display: block;
  color: #ff9a56;
  font-size: 42px;
  letter-spacing: 1px;
  transform: rotate(-7deg);
}
.header__infos {
  display: block;
  box-sizing: border-box;
  color: #fff;
  margin-left: 46px;
  padding: 16px;
  font-size: 32px;
}
.header__date,
.header__local {
  display: block;
  box-sizing: border-box;
}
.header__date {
  letter-spacing: 6px;
}
.header__local {
  font-size: 32px;
}
.header__street {
  font-size: 22px;
}
.highlight {
  color: #ff9a56;
}
.header__inscreva,
.btn__inscreva {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.header__inscreva {
  background-color: #fff;
  color: #582d41;
  width: 235px;
  margin: 24px 0;
}
.header__inscreva:hover {
  background-color: #01ffff;
}
.main {
  box-sizing: border-box;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
}
.card {
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 24px 40px;
  margin-bottom: 40px;
}
.card:first-child {
  margin-top: 32px;
}
.card:last-child {
  margin-bottom: 0;
}
.card--even {
  box-sizing: border-box;
  background-color: #47182f;
  border-radius: 4px;
}
.card__title {
  font-size: 38px;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Bahiana', cursive;
}
.card__title--even {
  color: #ff9a56;
}
.card__title--odd {
  color: #01ffff;
}
.card--content {
  margin: 0;
  margin-top: 16px;
}
.card__link--even {
  text-decoration: none;
  color: #01ffff;
}
.card__link--even:hover {
  color: #ff9a56;
}
.card__link--odd {
  text-decoration: none;
  color: #ff9a56;
}
.card__link--odd:hover {
  color: #01ffff;
}
.card__inscreva {
  text-align: right;
}
.btn__inscreva {
  background-color: #01ffff;
  color: #582d41;
  width: 150px;
  font-family: 'Bahiana', cursive;
  font-size: 24px;
  margin-top: 24px;
}
.btn__inscreva:hover {
  background-color: #fff;
}
.card__empresas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.garoa__logo,
.valle__logo {
  display: inline-block;
}
.garoa__logo {
  margin-right: 32px;
  width: 117px;
}
.valle__logo {
  width: 149px;
}
.card__duvidas {
  margin: 0;
}
.card__social {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}
.social__perfil {
  margin: 0;
  box-sizing: border-box;
}
.social__picture {
  border-radius: 50%;
  width: 132px;
  height: 132px;
}
.social__username {
  text-decoration: none;
  color: #01ffff;
}
.social__username:hover {
  color: #ff9a56;
}
.card__realizacao {
  margin-top: 16px;
}
.footer {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #01ffff;
  color: #582d41;
}
.footer__heart {
  animation: pulse 0.5s infinite alternate ease-in;
  background-color: #582d41;
  display: inline-block;
  height: 10px;
  margin: 0 15px;
  position: relative;
  width: 10px;
}
.footer__heart:before {
  background-color: #582d41;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 10px;
}
.footer__heart:after {
  background-color: #582d41;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 10px;
}
@-moz-keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
@-webkit-keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
@-o-keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
@keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}

@media (max-width: 600px){
  .header {
    display: inline-block;
    margin: auto 0;
  }
  
  .header__location {
    top: 150px;
  }

  .header__logo > img {
    width: 280px;
  }

  .header__infos > a {
    margin: auto 0;
  }

  .header__infos {
    margin-left: 10px; 
    margin-top: 30px; 
  }

  .card {
    padding: 24px 20px;
  }

  .card__social, .card__empresas{
    display: inline-block;
    align-content: center;
  }

  .card__realizacao {
    margin: auto 0;
  }

  .card__empresas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  .card__realizacao > img {
    width: 150px;
  }
}
