// Responsive block mixins
mobile() {
  @media (max-width: 768px) {
    {block}
  }
}

﻿body {
  background-color: #582D41;
  border-top: 4px solid #01FFFF;
  color: #fff;
}

.header {
  box-sizing: border-box;
  // border: 2px dashed yellow;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 32px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: 'Bahiana', cursive;

  +mobile() {
    flex-direction: column;
  }

}

.header__logo {
  box-sizing: border-box;
  position: relative;
}

.header__location {
  position: absolute;
  left: 170px;
  top: 208px;
  display: block;
  color: #ff9a56;
  font-size: 42px;
  letter-spacing: 1px;
  transform: rotate(-7deg);
}

.header__infos {
  display: block;
  box-sizing: border-box;
  color: #fff;
  margin-left: 46px;
  padding: 16px;
  font-size: 32px;

  +mobile() {
    margin-left: 0;
    margin-top: 30px;
  }
}

.header__date,
.header__local {
  display: block;
  box-sizing: border-box;
}

.header__date {
  letter-spacing: 6px;
}

.header__local {
  font-size: 40px;
}

.header__street {
  font-size: 30px;
}

.highlight {
  color: #FF9A56;
}

.header__inscreva,
.btn__inscreva {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.header__inscreva {
  background-color: #fff;
  color: #582D41;
  width: 235px;
  margin: 24px 0;
}

.header__inscreva:hover {
  background-color: #01FFFF;
}

.main {
  box-sizing: border-box;
  // border: 2px dashed green;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  font-family: 'Roboto', sans-serif;
}

.card {
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 24px 40px;
  margin-bottom: 40px;
}

.card:first-child {
  margin-top: 32px;
}

.card:last-child {
  margin-bottom: 0;
}

.card--even {
  box-sizing: border-box;
  background-color: #47182f;
  border-radius: 4px;
}

.card__title {
  font-size: 38px;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Bahiana', cursive;
}

.card__title--even {
  color: #FF9A56;
}

.card__title--odd {
  color: #01FFFF;
}

.card--content {
  margin: 0;
  margin-top: 16px;
}

.card__link--even {
  text-decoration: none;
  color: #01FFFF;
}

.card__link--even:hover {
  color: #FF9A56;
}

.card__link--odd {
  text-decoration: none;
  color: #FF9A56;
}

.card__link--odd:hover {
  color: #01FFFF;
}

.card__inscreva {
  text-align: right;
}

.btn__inscreva {
  background-color: #01FFFF;
  color: #582D41;
  width: 150px;
  font-family: 'Bahiana', cursive;
  font-size: 24px;
  margin-top: 24px;
}

.btn__inscreva:hover {
  background-color: #fff;
}

.card__empresas {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  +mobile() {
    flex-direction: column;
  }
}

.empresas__logo {
  display: inline-block;
  width: 180px;
  height: 40px;
}

.empresas__logo:nth-child(1) {
  margin-right: 32px;
}

.card__duvidas {
  margin: 0;
}

.card__social {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;

  +mobile() {
    flex-direction: column;
  }
}

.social__perfil {
  margin: 0
  box-sizing: border-box;

  +mobile() {
    margin-bottom: 25px;
  }
}

.social__picture {
  border-radius: 50%;
  width: 132px;
  height: 132px;
}

.social__username {
  text-decoration: none;
  color: #01FFFF;
}

.social__username:hover {
  color: #FF9A56;
}

.card__realizacao {
  margin-top: 16px;
}

.footer {
  box-sizing: border-box;
  // border: 2px dashed blue;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #01FFFF;
  color: #582D41;
}

.footer__heart {
  animation: pulse .5s infinite alternate ease-in;
  background-color: #582D41;
  display: inline-block;
  height: 10px;
  margin: 0 15px;
  position: relative;
  width: 10px;
}

.footer__heart:before {
	background-color: #582D41;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 10px;
}

.footer__heart:after {
	background-color: #582D41;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 10px;
}

@keyframes pulse {
  from {
    transform: rotate(-135deg) scale(1);
  }
  to {
    transform: rotate(-135deg) scale(1.2);
  }
}
